# Predicting House Prices, Econometrics(OLS) & ML

The data is from https://www.properati.com.ar/publish and is used only for puposes of demonstrating model fitting as in machine learning and Model estimation in Econometrics. The datasets contain real estate listings in Argentina, Colombia, Ecuador, Perú, and Uruguay. With information on number of rooms, districts, prices, etc.They include houses, apartments, commercial lots, and more.We want to model the price of the house ('the label' in ML, the dependent variable in Economics) as a 
function of all the relevant attributes(features as in ML and Variables in Econ). We will fit the model( as in ML) and Estimate the model(As in Econ)

In [1]:
#import modules:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import statsmodels.api as sm
from statsmodels.iolib.summary2 import summary_col
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [28]:
#read in the raw data set.
df=pd.read_csv(r'C:\Users\Rodgers\Desktop\Machine learning\Kaggle Datasets\ar_properties.csv')
print(df.head())
print(df.info())

                         id    ad_type  start_date    end_date  created_on  \
0  7LoZFkSIPOTox0r32ck42Q==  Propiedad  2019-09-15  2019-10-26  2019-09-15
1  QsZD4OxZInNd5po5LQDRmg==  Propiedad  2019-09-15  9999-12-31  2019-09-15
2  qDtysoUgbnHLp0W9We+8fg==  Propiedad  2019-09-15  2019-09-25  2019-09-15
3  olj51zV0HFurmaZ78U0ssg==  Propiedad  2019-09-15  2019-09-25  2019-09-15
4  OcS1SAA5oAzjZ3Mzg3XHyg==  Propiedad  2019-09-15  2019-09-25  2019-09-15

         lat        lon         l1       l2           l3  ... bathrooms  \
0 -26.815439 -65.312393  Argentina  Tucumán  Yerba Buena  ...       NaN
1 -26.839469 -65.212790  Argentina  Tucumán          NaN  ...       1.0
2 -31.424820 -64.181225  Argentina  Córdoba      Córdoba  ...       1.0
3 -31.421242 -64.190798  Argentina  Córdoba      Córdoba  ...       1.0
4 -31.426064 -64.180042  Argentina  Córdoba      Córdoba  ...       1.0

  surface_total  surface_covered  price  currency  price_period  \
0           NaN              NaN    NaN       NaN       Mensual
1          55.0             41.0    NaN       NaN       Mensual
2          45.0             45.0    NaN       NaN       Mensual
3          48.0             48.0    NaN       NaN       Mensual
4          45.0             45.0    NaN       NaN       Mensual

                                      title  \
0                     Terreno - Yerba Buena
1                    Departamento - Capital
2         1 DORMITORIO | San Lorenzo al 400
3     1 DORMITORIO | M. T. de Alvear al 500
4  1 DORMITORIO | Av. Poeta Lugones  al 200

                                         description  property_type  \
0  Accesos pavimentados.<br>Red subterránea de ag...           Lote
1  Detalles constructivos:<br><br>Pisos de porcel...   Departamento
2  Alquiler temporario de Departamento 1 DORMITOR...   Departamento
3  Alquiler temporario de Departamento 1 DORMITOR...   Departamento
4  Alquiler temporario de Departamento 1 DORMITOR...   Departamento

      operation_type
0              Venta
1              Venta
2  Alquiler temporal
3  Alquiler temporal
4  Alquiler temporal

[5 rows x 25 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 25 columns):
id                 1000000 non-null object
ad_type            1000000 non-null object
start_date         1000000 non-null object
end_date           1000000 non-null object
created_on         1000000 non-null object
lat                850472 non-null float64
lon                849456 non-null float64
l1                 1000000 non-null object
l2                 1000000 non-null object
l3                 944673 non-null object
l4                 249223 non-null object
l5                 4616 non-null object
l6                 0 non-null float64
rooms              531101 non-null float64
bedrooms           368640 non-null float64
bathrooms          770378 non-null float64
surface_total      578777 non-null float64
surface_covered    549945 non-null float64
price              951327 non-null float64
currency           945495 non-null object
price_period       418899 non-null object
title              999972 non-null object
description        999975 non-null object
property_type      1000000 non-null object
operation_type     1000000 non-null object
dtypes: float64(9), object(16)
memory usage: 190.7+ MB
None

In [3]:
# in this cell we drop the columns that we will not be using.Most of them do not bias in any way the estimation we are trying
#achieve e.g. for the decsription, all examples(observations) are properties. So we don't need that column.
df=data.drop(['id','title','description','ad_type','created_on','l5','l6','start_date','end_date','lat','lon','l2','l4'], axis=1)

In [4]:
#print(df.head())
print(df.shape) #after dropping unneccesary columns, we are left with 12, down from 25

(1000000, 12)

In [4]:
#Here, we just play with the code. This function takes in a data frame and tells us how many unique values, there are
#per feature
def unique_values(dataframe):
    list_=[]
    for i in dataframe.columns:
        list_.append(dataframe[i].nunique())
    return list_

In [5]:
#This one tells us what are the categories per variable:
def unique_types(dataframe):
    for i in dataframe.columns:
        print(dataframe[i].unique())

In [6]:
#Testing our functions...
print(unique_values(df))
#print(unique_types(df)) #not quite useful when the data is not categorical

[4, 1267, 35, 78, 20, 5447, 2800, 20032, 4, 3, 10, 3]

In [7]:
#Here we take a look at first five columns of the reduced data set.
print(df.head())

          l1           l3  rooms  bedrooms  bathrooms  surface_total  \
0  Argentina  Yerba Buena    NaN       NaN        NaN            NaN
1  Argentina          NaN    NaN       NaN        1.0           55.0
2  Argentina      Córdoba    2.0       NaN        1.0           45.0
3  Argentina      Córdoba    2.0       NaN        1.0           48.0
4  Argentina      Córdoba    2.0       NaN        1.0           45.0

   surface_covered  price currency price_period property_type  \
0              NaN    NaN      NaN      Mensual          Lote
1             41.0    NaN      NaN      Mensual  Departamento
2             45.0    NaN      NaN      Mensual  Departamento
3             48.0    NaN      NaN      Mensual  Departamento
4             45.0    NaN      NaN      Mensual  Departamento

      operation_type
0              Venta
1              Venta
2  Alquiler temporal
3  Alquiler temporal
4  Alquiler temporal

In [8]:
#df.apply(lambda x: x.fillna(x.mean()))

In [9]:
#converting all the currencies to USD, based on Google exchange rates on June 12th 2020. Done for internal consistency 
#in estimation.
df.loc[df.currency=='ARS','price']=df['price']*0.014
df.loc[df.currency=='UYU','price']=df['price']*0.023
df.loc[df.currency=='PEN','price']=df['price']*0.29

In [10]:
#selecting examples per country, it would be prudent to only consider houses within cities, within the same country
Argentina=df.loc[df['l1'] == 'Argentina']
Uruguay=df.loc[df['l1'] == 'Uruguay']
Estados_Unidos=df.loc[df['l1'] == 'Estados Unidos']
Brasil=df.loc[df['l1'] == 'Brasil']

In [11]:
#Argentina dispropoortinately has the largest share of the data then Uruguay, the US and Brasil in that order
print(Argentina.shape,Uruguay.shape,Estados_Unidos.shape,Brasil.shape)

(976083, 12) (23146, 12) (727, 12) (44, 12)

In [12]:
#let's clean up argentina
#Argentina.isnull().sum()

In [13]:
#def summary(dataframe):
 #   for i in dataframe.columns:
  #      if dataframe[i] != int:
    
    #return dataframe[i].mean()

In [14]:
#time spent on the listing.
#data['start']=pd.to_datetime(data['start_date'])
#data['end']=pd.to_datetime(data['end_date'],errors='coerce')
#data['d']=data['end']-data['start']

In [15]:
#data.d.mean()

In [16]:
#select per country:
#data['Argentina']=data.loc[data['l1'] == 'Argentina']
#data['Argentina']=data.loc[data['l1'] == 'Argentina']
#data['l1'].to_string()

In [17]:
#below we examine all the columns and clean them up ready for estimation
#df['l1'].unique() # There are four countries and 1267 cities in the data set. We'll have to trim down the data set into only the
#major cities in each country

In [18]:
#df.isnull().sum() # This code tells us what are the number of NaN values in every column of the data set.

In [19]:
#df.currency.unique()

In [20]:
# out of the variables left in our reduced data set, we only select the numerical ones for use in the estimation procedure
Argentina_=Argentina[['rooms','bedrooms','bathrooms','surface_total','surface_covered','price']]
Braz=Brasil[['rooms','bedrooms','bathrooms','surface_total','surface_covered','price']]
Uru=Uruguay[['rooms','bedrooms','bathrooms','surface_total','surface_covered','price']]
US_=Estados_Unidos[['rooms','bedrooms','bathrooms','surface_total','surface_covered','price']]

In [32]:
#Brasil.mean()

In [21]:
#Fill in the nans with the means of the columns
#df.apply(lambda x: x.fillna(x.mean()))

#Brazil.apply(lambda x: x.fillna(x.mean(axis=0)))
#Uruguay.apply(lambda x: x.fillna(x.mean(axis=0)))
#US=US_.apply(lambda x: x.fillna(x.mean(axis=0)))
Argentina1=Argentina_.fillna(Argentina_.mean(axis=0))
Brazil=Braz.fillna(Braz.mean(axis=0))
Uruguay1=Uru.fillna(Uru.mean(axis=0))
US=US_.fillna(US_.mean(axis=0))

In [22]:
#print(Brazil)
#print(US.head())
print(Uruguay1.head())

        rooms  bedrooms  bathrooms  surface_total  surface_covered  \
77   1.000000  2.327581        1.0      38.000000        35.000000
152  3.288937  2.327581        1.0     150.000000       150.000000
329  3.288937  2.327581        3.0     396.971049       159.697073
330  3.288937  2.327581        5.0     396.971049       159.697073
333  6.000000  2.327581        3.0     207.000000       207.000000

             price
77      600.000000
152  240591.371476
329   30500.000000
330   42700.000000
333  450000.000000

In [23]:
#Argentina.fillna(Argentina.mean())

In [27]:
Brazil.to_csv(r'C:\Users\Rodgers\Desktop\Machine learning\Brazil.csv', index = False)
Uruguay1.to_csv(r'C:\Users\Rodgers\Desktop\Machine learning\Uruguay.csv', index = False)
US.to_csv(r'C:\Users\Rodgers\Desktop\Machine learning\US.csv', index = False)
Argentina1.to_csv(r'C:\Users\Rodgers\Desktop\Machine learning\Argentina1.csv', index = False)

In [25]:
#Argentina['l3'].nunique()

In [26]:
#Argentina.tail(10)

In [72]:
#OLS model for Brazil.
y=Brazil['price']
x=Brazil[['rooms', 'bathrooms','surface_total','surface_covered','bedrooms']]
x = sm.add_constant(x)
model=sm.OLS(y,x).fit()
model_prediction=model.predict(x)
model_details=model.summary()
print(model_details)

                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.518
Model:                            OLS   Adj. R-squared:                  0.454
Method:                 Least Squares   F-statistic:                     8.163
Date:                Mon, 15 Jun 2020   Prob (F-statistic):           2.62e-05
Time:                        15:39:06   Log-Likelihood:                -610.88
No. Observations:                  44   AIC:                             1234.
Df Residuals:                      38   BIC:                             1244.
Df Model:                           5
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
const             2.76e+04   1.76e+05      0.157      0.876   -3.29e+05    3.84e+05
rooms           -8262.8546   3.03e+04     -0.273      0.786   -6.96e+04     5.3e+04
bathrooms        1.087e+05   1.88e+04      5.766      0.000    7.05e+04    1.47e+05
surface_total      14.6155     12.784      1.143      0.260     -11.264      40.495
surface_covered   -28.2113     21.449     -1.315      0.196     -71.632      15.209
bedrooms        -5.637e+04   2.63e+04     -2.143      0.039    -1.1e+05   -3123.263
==============================================================================
Omnibus:                       27.828   Durbin-Watson:                   1.721
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               53.759
Skew:                           1.792   Prob(JB):                     2.12e-12
Kurtosis:                       7.059   Cond. No.                     2.23e+04
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.23e+04. This might indicate that there are
strong multicollinearity or other numerical problems.

In [62]:
#Linear regression for SK learn
reg = LinearRegression().fit(x, y) #pretty much the same coefficients
reg.score(x, y)
print(reg.coef_)
print(reg.intercept_)

[ 0.00000000e+00 -8.26285465e+03  1.08652026e+05  1.46154750e+01
 -2.82113021e+01 -5.63719833e+04]
27601.6011490628

In [63]:
#from sklearn.model_selection import train_test_split

#x_train, x_test, y_train, y_test = train_test_split(x, y, train_size=0.8, test_size=0.2)
#coef_, which contains the coefficients #coef._[0] is the intercept
#intercept_, which contains the intercept
#sklearn‘s linear_model.LinearRegression comes with a .score() 
#method that returns the coefficient of determination R² of the prediction.

In [64]:
#train test split sklearn
X_train,X_test,y_train,y_test=train_test_split(x,y, test_size=0.5, random_state=25)

In [65]:
lr = LinearRegression()
lr.fit(X_train,y_train)
y_predict=lr.predict(X_test) # tells us the values that we could get in case in case we pass in new x values
lr_train_score=lr.score(X_train,y_train)
lr_test_score=lr.score(X_test,y_test)
print(lr_train_score)
print(lr_test_score)
print(lr.coef_)

0.8789540107051546
-12.900075906746597
[ 0.00000000e+00  1.14700516e+05  2.14292461e+05  6.24887753e+01
 -2.41933783e+02 -1.15011782e+05]

In [66]:
lr.fit(x,y)
print(lr.coef_)

[ 0.00000000e+00 -8.26285465e+03  1.08652026e+05  1.46154750e+01
 -2.82113021e+01 -5.63719833e+04]

In [67]:
Brazil.corr()

,rooms,bedrooms,bathrooms,surface_total,surface_covered,price
rooms,1.000000,0.073285,0.209153,0.188140,0.214474,0.125085
bedrooms,0.073285,1.000000,0.673790,-0.043758,0.081658,0.261442
bathrooms,0.209153,0.673790,1.000000,-0.105375,0.058507,0.656372
surface_total,0.188140,-0.043758,-0.105375,1.000000,0.518025,-0.025227
surface_covered,0.214474,0.081658,0.058507,0.518025,1.000000,-0.077026
price,0.125085,0.261442,0.656372,-0.025227,-0.077026,1.000000

In [73]:
#OLS model for US
y1=US['price']
x1=US[['rooms', 'bathrooms','surface_total','surface_covered','bedrooms']]
x1 = sm.add_constant(x1)
model1=sm.OLS(y1,x1).fit()
model_prediction1=model1.predict(x1)
model_details1=model1.summary()
print(model_details1)

                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.333
Model:                            OLS   Adj. R-squared:                  0.329
Method:                 Least Squares   F-statistic:                     72.15
Date:                Mon, 15 Jun 2020   Prob (F-statistic):           3.08e-61
Time:                        15:41:48   Log-Likelihood:                -10628.
No. Observations:                 727   AIC:                         2.127e+04
Df Residuals:                     721   BIC:                         2.130e+04
Df Model:                           5
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
const           -1.927e+05   8.96e+04     -2.150      0.032   -3.69e+05   -1.67e+04
rooms           -9.318e+04   1.67e+04     -5.585      0.000   -1.26e+05   -6.04e+04
bathrooms        2.018e+05   2.51e+04      8.036      0.000    1.52e+05    2.51e+05
surface_total     562.0898    239.223      2.350      0.019      92.432    1031.747
surface_covered  5412.9530    485.420     11.151      0.000    4459.947    6365.959
bedrooms        -8.413e+04    4.2e+04     -2.003      0.046   -1.67e+05   -1682.723
==============================================================================
Omnibus:                      790.544   Durbin-Watson:                   1.557
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            72656.012
Skew:                           4.981   Prob(JB):                         0.00
Kurtosis:                      50.951   Cond. No.                         998.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.